<div class="body">
  <div class="wrapper">
    <form action="">
      <h1>Registro</h1>
      <div class="input-box">
        <input type="text" placeholder="Username" required>
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Email" required>
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="password required">
        <i class="bx bxs-lock-alt"></i>
      </div>
      <button type="submit" class="btn">Login</button>
      <div class="register-link">
        <p>¿Ya tienes cuenta? <a routerLink="/login"> Inicia sesión</a></p>
      </div>
    </form>
  </div>
</div>
